.thumbnail{
    display: flex;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    flex-direction: column;
    width: 30%;
    margin-right: 5%;
}

.image-row > div:first-child {
    margin-left: 5%;
}

.image-row{
    flex-direction: row;
    display: flex;
}

.logo-image{
    width: 85%;
    height: 75%;
    padding: 5%;
    align-self: center;
}

.logo-content{
    font-size: 90%;
    align-self: center;
}

.mission-section{
    border-top: 2px solid black;
    margin-top: 10px;
    padding-top: 5px;
}

.important-text{
    font-weight: bolder;
    padding-bottom: 2.5%;
    color: #041e42;
    font-variant: small-caps;
    font-size: large;
}

.important-text2{
    font-weight: bolder;
    color: #041e42;
    font-variant: small-caps;
    display: inline-block;
}

.mission-box{
    background-color: #041e42;
    color: white;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 12px;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    /* box-shadow: 2.5px 2px #888888; */
}

.mission-box-panel{
    background-color: #0077b6;
    min-height: 10%;

}

.story-complete{
    font-size: x-small;
}